.filtro{
    background-color: lightgray;
    width: 180px;
    display: inline-table;
    margin-left: 50px;  
    padding-bottom: 30px;
    border-radius: 20px;
}
.filtro h2{
    flex: auto;
    margin-top: 10px;
    border-bottom: none;
}
.filtro input{
    margin: 10px 0;
}

.filtro label{
    margin-left: 10px;
}
@media (max-width: 900px){
    .produto{
        display: block;
    }
}