.p-container {
    width: 100vw;
    height: 100%;
    background-image: url('./11333.jpg');
    background-color: rgba(248, 250, 255, 0.514);
    display: flex;
    align-items: center;
    flex-direction: row;
}
.produto {
    width: auto;
    height: auto;
    margin: 30px auto;
    background-color:rgb(250, 249, 249);
    border-radius: 10px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 11px 4px rgba(52, 50, 50, 0.52);
    -moz-box-shadow:    0px 0px 11px 4px rgba(52, 50, 50, 0.52);
    box-shadow:         0px 0px 11px 4px rgba(52, 50, 50, 0.52);
    display: flex;
    align-items: center;
    
}
.produto img{
    width: 300px;
    height: 300px;
    -webkit-box-shadow: 12px 11px 22px 4px rgba(52, 50, 50, 0.83);
    -moz-box-shadow:    12px 11px 22px 4px rgba(52, 50, 50, 0.83);
    box-shadow:         12px 11px 22px 4px rgba(52, 50, 50, 0.83);
    margin: 0 auto;
}
.foto{
    width: 100%;
    height: 100%;
    display: block;
    align-items: center;
    box-sizing: border-box;
    border: 0;
    block-size: auto;
}
.description {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center !important;
}
.description button {
    background-color: #818181;
    border-radius: 60px;
    height: 60px;
    color: white;
    width: 190px;
    padding: 0 30px;
    margin: 10px 10px 0 0 !important;
}
.comprar{
    margin: 0 10px 10px 10px;
}
button{
    font-family: Yanone Kaffeesatz,Trebuchet MS,Arial,Helvetica,sans-serif;
    font-size: 20px;
}
a {
    align-self: start;
}

.iconEdit{
    width: 25px;
    height: 25px;
    position: relative;
    top: 2px;
    left: 5px;
    color: black;
    display: flex;
}
h1{
    font-family: Yanone Kaffeesatz,Trebuchet MS,Arial,Helvetica,sans-serif;
    margin-top: 50px;
    margin-bottom: 20px;
}
.conteudo {
    font-family: Yanone Kaffeesatz,Trebuchet MS,Arial,Helvetica,sans-serif;
    font-size: 20px;
    margin: 8px;
}
h2{
    font-family: Yanone Kaffeesatz,Trebuchet MS,Arial,Helvetica,sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}
#quantity{
    width: 30px;
    height: 20px;
    vertical-align: text-bottom;
}
@media (max-width: 768px){
    .produto{
        display: block;
    }
}